### Data Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_trks = pd.read_csv('https://api.vitaldb.net/trks')
df_cases = pd.read_csv("https://api.vitaldb.net/cases")
df_labs = pd.read_csv('https://api.vitaldb.net/labs')

* df_trks chech

In [3]:
df_trks.head()

   caseid         tname                                       tid
0       1       BIS/BIS  fd869e25ba82a66cc95b38ed47110bf4f14bb368
1       1  BIS/EEG1_WAV  0aa685df768489a18a5e9f53af0d83bf60890c73
2       1  BIS/EEG2_WAV  ad13b2c39b19193c8ae4a2de4f8315f18d61a57e
3       1       BIS/EMG  2525603efe18d982764dbca457affe7a45e766a9
4       1       BIS/SEF  1c91aec859304840dec75acf4a35da78be0e8ef0

* If df_trks['tname'] == 'SNUADC/PLETH'

In [4]:
df_trks['tname'].unique()

array(['BIS/BIS', 'BIS/EEG1_WAV', 'BIS/EEG2_WAV', 'BIS/EMG', 'BIS/SEF',
       'BIS/SQI', 'BIS/SR', 'BIS/TOTPOW', 'Primus/AWP', 'Primus/CO2',
       'Primus/COMPLIANCE', 'Primus/ETCO2', 'Primus/EXP_DES',
       'Primus/EXP_SEVO', 'Primus/FEN2O', 'Primus/FEO2', 'Primus/FIN2O',
       'Primus/FIO2', 'Primus/INCO2', 'Primus/INSP_DES',
       'Primus/INSP_SEVO', 'Primus/MAC', 'Primus/MAWP_MBAR', 'Primus/MV',
       'Primus/PAMB_MBAR', 'Primus/PEEP_MBAR', 'Primus/PIP_MBAR',
       'Primus/PPLAT_MBAR', 'Primus/RR_CO2', 'Primus/SET_AGE',
       'Primus/SET_FIO2', 'Primus/SET_FRESH_FLOW',
       'Primus/SET_INSP_PAUSE', 'Primus/SET_INSP_TM',
       'Primus/SET_INTER_PEEP', 'Primus/SET_PIP', 'Primus/SET_RR_IPPV',
       'Primus/SET_TV_L', 'Primus/TV', 'Primus/VENT_LEAK', 'SNUADC/ART',
       'SNUADC/ECG_II', 'SNUADC/ECG_V5', 'SNUADC/PLETH',
       'Solar8000/ART_DBP', 'Solar8000/ART_MBP', 'Solar8000/ART_SBP',
       'Solar8000/BT', 'Solar8000/ETCO2', 'Solar8000/FEO2',
       'Solar8000/FIO2', 'Solar8000/GAS2_EXPIRED',
       'Solar8000/GAS2_INSPIRED', 'Solar8000/HR', 'Solar8000/INCO2',
       'Solar8000/NIBP_DBP', 'Solar8000/NIBP_MBP', 'Solar8000/NIBP_SBP',
       'Solar8000/PLETH_HR', 'Solar8000/PLETH_SPO2', 'Solar8000/RR_CO2',
       'Solar8000/ST_AVF', 'Solar8000/ST_AVL', 'Solar8000/ST_AVR',
       'Solar8000/ST_I', 'Solar8000/ST_II', 'Solar8000/ST_III',
       'Solar8000/VENT_INSP_TM', 'Solar8000/VENT_MAWP',
       'Solar8000/VENT_MV', 'Solar8000/VENT_PIP', 'Solar8000/VENT_PPLAT',
       'Solar8000/VENT_RR', 'Solar8000/VENT_SET_PCP',
       'Solar8000/VENT_SET_TV', 'Solar8000/VENT_TV',
       'Orchestra/RFTN20_CE', 'Orchestra/RFTN20_CP',
       'Orchestra/RFTN20_CT', 'Orchestra/RFTN20_RATE',
       'Orchestra/RFTN20_VOL', 'Primus/FLOW_AIR', 'Primus/FLOW_N2O',
       'Primus/FLOW_O2', 'Solar8000/VENT_SET_FIO2', 'Orchestra/PPF20_CE',
       'Orchestra/PPF20_CP', 'Orchestra/PPF20_CT', 'Orchestra/PPF20_RATE',
       'Orchestra/PPF20_VOL', 'Solar8000/RR', 'FMS/FLOW_RATE',
       'FMS/INPUT_AMB_TEMP', 'FMS/INPUT_TEMP', 'FMS/OUTPUT_AMB_TEMP',
       'FMS/OUTPUT_TEMP', 'FMS/PRESSURE', 'FMS/TOTAL_VOL',
       'Orchestra/ROC_RATE', 'Orchestra/ROC_VOL', 'Primus/SET_INSP_PRES',
       'SNUADC/CVP', 'SNUADC/FEM', 'Solar8000/CVP', 'Solar8000/FEM_DBP',
       'Solar8000/FEM_MBP', 'Solar8000/FEM_SBP', 'Orchestra/NTG_RATE',
       'Orchestra/NTG_VOL', 'Orchestra/FUT_RATE', 'Orchestra/FUT_VOL',
       'Orchestra/PGE1_RATE', 'Orchestra/PGE1_VOL', 'Solar8000/PA_DBP',
       'Solar8000/PA_MBP', 'Solar8000/PA_SBP', 'Vigilance/BT_PA',
       'Vigilance/CI', 'Vigilance/CO', 'Vigilance/EDV', 'Vigilance/EDVI',
       'Vigilance/ESV', 'Vigilance/ESVI', 'Vigilance/HR_AVG',
       'Vigilance/RVEF', 'Vigilance/SNR', 'Vigilance/SQI', 'Vigilance/SV',
       'Vigilance/SVI', 'Vigilance/SVO2', 'Primus/SET_FLOW_TRIG',
       'EV1000/ART_MBP', 'EV1000/CI', 'EV1000/CO', 'EV1000/CVP',
       'EV1000/SV', 'EV1000/SVI', 'EV1000/SVR', 'EV1000/SVRI',
       'EV1000/SVV', 'Orchestra/NEPI_RATE', 'Orchestra/NEPI_VOL',
       'CardioQ/ABP', 'CardioQ/CI', 'CardioQ/CO', 'CardioQ/FLOW',
       'CardioQ/FTc', 'CardioQ/FTp', 'CardioQ/HR', 'CardioQ/MA',
       'CardioQ/MD', 'CardioQ/PV', 'CardioQ/SD', 'CardioQ/SV',
       'CardioQ/SVI', 'Orchestra/PHEN_RATE', 'Orchestra/PHEN_VOL',
       'Vigileo/CI', 'Vigileo/CO', 'Vigileo/SV', 'Vigileo/SVI',
       'Vigileo/SVV', 'Solar8000/VENT_COMPL', 'Solar8000/VENT_MEAS_PEEP',
       'Orchestra/RFTN50_CE', 'Orchestra/RFTN50_CP',
       'Orchestra/RFTN50_CT', 'Orchestra/RFTN50_RATE',
       'Orchestra/RFTN50_VOL', 'Orchestra/DOPA_RATE',
       'Orchestra/DOPA_VOL', 'Orchestra/OXY_RATE', 'Orchestra/OXY_VOL',
       'Orchestra/DEX2_RATE', 'Orchestra/DEX2_VOL', 'Invos/SCO2_L',
       'Invos/SCO2_R', 'Orchestra/EPI_RATE', 'Orchestra/EPI_VOL',
       'Orchestra/MRN_RATE', 'Orchestra/MRN_VOL', 'Orchestra/DEX4_RATE',
       'Orchestra/DEX4_VOL', 'Orchestra/DTZ_RATE', 'Orchestra/DTZ_VOL',
       'Orchestra/VASO_RATE', 'Orchestra/VASO_VOL', 'Orchestra/DOBU_RATE',
       'Orchestra/DOBU_VOL', 'Orchestra/NPS_RATE', 'Orchestra/NPS_VOL',
       'Orchestra/VEC_RATE', 'Orchestra/VEC_VOL', 'Solar8000/ST_V5',
       'Orchestra/AMD_RATE', 'Orchestra/AMD_VOL'], dtype=object)

In [5]:
df_trks_id = set(df_trks[df_trks['tname'] == 'SNUADC/PLETH']['caseid'])

In [6]:
len(df_trks_id)

6157

In [7]:
len(set(df_trks_id))

6157

In [8]:
df_cases

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
2,3,2861,0,4394,-590,4210.0,1090,3010,-218640,40560,...,0,0,0.0,0,50,0,0,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6383,6384,5583,0,15248,-260,15640.0,2140,14140,-215340,648660,...,0,150,0.0,0,90,0,20,0,0,0
6384,6385,2278,0,20643,-544,20996.0,2396,19496,-225600,1675200,...,0,100,0.0,0,100,0,25,30,0,300
6385,6386,4045,0,19451,-667,19133.0,3533,18233,-200460,836340,...,0,70,0.0,0,130,0,10,0,0,0
6386,6387,5230,0,12025,-550,12830.0,1730,11030,-227760,377040,...,0,120,0.0,0,50,0,0,0,0,0
6387,6388,1306,0,10249,-79,10121.0,2321,9221,-312060,379140,...,500,120,0.0,0,90,0,20,0,0,0

In [9]:
len(df_cases.columns)

74

* Only SNUADC/PLETH id

In [10]:
df_k = df_cases[df_cases['caseid'].map(lambda x: x in df_trks_id)]

In [11]:
df_k

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
2,3,2861,0,4394,-590,4210.0,1090,3010,-218640,40560,...,0,0,0.0,0,50,0,0,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6383,6384,5583,0,15248,-260,15640.0,2140,14140,-215340,648660,...,0,150,0.0,0,90,0,20,0,0,0
6384,6385,2278,0,20643,-544,20996.0,2396,19496,-225600,1675200,...,0,100,0.0,0,100,0,25,30,0,300
6385,6386,4045,0,19451,-667,19133.0,3533,18233,-200460,836340,...,0,70,0.0,0,130,0,10,0,0,0
6386,6387,5230,0,12025,-550,12830.0,1730,11030,-227760,377040,...,0,120,0.0,0,50,0,0,0,0,0
6387,6388,1306,0,10249,-79,10121.0,2321,9221,-312060,379140,...,500,120,0.0,0,90,0,20,0,0,0

* ica : label(up, norm, down)

In [12]:
lab_k_id = list(set(df_labs[df_labs['name'] == 'k']['caseid']))

In [13]:
df_labs_k = df_k[df_k['caseid'].map(lambda x: x in lab_k_id)]

In [14]:
df_labs_k

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100
5,6,5586,0,5145,-51,4749.0,2649,4449,-300600,131400,...,0,70,0.0,100,40,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6383,6384,5583,0,15248,-260,15640.0,2140,14140,-215340,648660,...,0,150,0.0,0,90,0,20,0,0,0
6384,6385,2278,0,20643,-544,20996.0,2396,19496,-225600,1675200,...,0,100,0.0,0,100,0,25,30,0,300
6385,6386,4045,0,19451,-667,19133.0,3533,18233,-200460,836340,...,0,70,0.0,0,130,0,10,0,0,0
6386,6387,5230,0,12025,-550,12830.0,1730,11030,-227760,377040,...,0,120,0.0,0,50,0,0,0,0,0
6387,6388,1306,0,10249,-79,10121.0,2321,9221,-312060,379140,...,500,120,0.0,0,90,0,20,0,0,0

In [15]:
def anocut(x):
  if 3.5 <= x <= 5.5:
    output = 0
  elif x > 5.5:
    output = 1
  else:
    output = -1
  return output

In [16]:
df_labs['label'] = df_labs[df_labs['name'] == 'k']['result'].map(lambda x : anocut(x))

In [17]:
df_labs = df_labs.dropna()

In [18]:
df_labs

        caseid      dt name  result  label
58           1    3060    k     2.8   -1.0
59           1   12614    k     2.8   -1.0
60           1    8921    k     2.9   -1.0
61           1 -154782    k     3.1   -1.0
62           1 -123020    k     3.1   -1.0
...        ...     ...  ...     ...    ...
928363    6387  231033    k     4.0    0.0
928364    6387   58994    k     4.4    0.0
928424    6388    3503    k     2.7   -1.0
928425    6388    6649    k     3.3   -1.0
928426    6388  -58730    k     4.0    0.0

[55486 rows x 5 columns]

* drop_duplicates

In [19]:
id_lb = df_labs[['caseid', 'dt', 'label']]

In [20]:
id_lb

        caseid      dt  label
58           1    3060   -1.0
59           1   12614   -1.0
60           1    8921   -1.0
61           1 -154782   -1.0
62           1 -123020   -1.0
...        ...     ...    ...
928363    6387  231033    0.0
928364    6387   58994    0.0
928424    6388    3503   -1.0
928425    6388    6649   -1.0
928426    6388  -58730    0.0

[55486 rows x 3 columns]

In [21]:
max(id_lb['dt'])

7775588

In [22]:
min(abs(id_lb['dt']))

37

In [23]:
abs(id_lb['dt']).sort_values()[:10]

571127     37
665919     70
390220    137
606088    147
743668    254
278289    288
890224    294
566286    381
540026    432
446685    437
Name: dt, dtype: int64

* remove dt < 300

In [24]:
caseid, dt, label = id_lb.iloc[1]

In [25]:
id_lb_1000 = id_lb[:1000]

In [26]:
abs(id_lb_1000['dt']).sort_values()[:10]

2762      908
8722      936
4100     1007
9469     1048
15816    1068
15314    1096
12076    1186
6334     1208
5445     1235
13916    1347
Name: dt, dtype: int64

In [27]:
id_lb_1000

       caseid      dt  label
58          1    3060   -1.0
59          1   12614   -1.0
60          1    8921   -1.0
61          1 -154782   -1.0
62          1 -123020   -1.0
...       ...     ...    ...
16028     113  849799    0.0
16029     113  938600    0.0
16030     113    5395   -1.0
16031     113  333936   -1.0
16032     113   22225    0.0

[1000 rows x 3 columns]

In [28]:
import vitaldb

* ecg

In [29]:
dt_list = []
dt_signal_5 = []
dt_signal_3 = []
dt_signal_1 = []
lb_list = []
id = []
for idx in range(len(id_lb_1000)):
    caseid, dt, label = id_lb_1000.iloc[idx]
    vals = vitaldb.load_case(caseid, ['SNUADC/ECG_II'], 1/60).flatten() # scale : dt <-> vals
    if dt < len(vals) and dt > 300: 
        dt_list.append(dt)
        dt_signal_5.append(vals[int(dt)-300:int(dt)]) # sequence range
        dt_signal_3.append(vals[int(dt)-180:int(dt)]) # sequence range
        dt_signal_1.append(vals[int(dt)-60:int(dt)]) # sequence range
        lb_list.append(label)
        id.append(caseid)
    else:
        pass

In [35]:
np.save('workspace/data/k_ecg_lb', lb_list)

In [36]:
np.save('workspace/data/k_ecg_signal_5', dt_signal_5)

In [37]:
np.save('workspace/data/k_ecg_signal_3', dt_signal_3)

In [38]:
np.save('workspace/data/k_ecg_signal_1', dt_signal_1)

In [39]:
np.save('workspace/data/k_ecg_id', id)

* ppg

In [40]:
dt_list = []
dt_signal_5 = []
dt_signal_3 = []
dt_signal_1 = []
lb_list = []
id = []
for idx in range(len(id_lb_1000)):
    caseid, dt, label = id_lb_1000.iloc[idx]
    vals = vitaldb.load_case(caseid, ['SNUADC/PLETH'], 1/60).flatten() # scale : dt <-> vals
    if dt < len(vals) and dt > 300: 
        dt_list.append(dt)
        dt_signal_5.append(vals[int(dt)-300:int(dt)]) # sequence range
        dt_signal_3.append(vals[int(dt)-180:int(dt)]) # sequence range
        dt_signal_1.append(vals[int(dt)-60:int(dt)]) # sequence range
        lb_list.append(label)
        id.append(caseid)
    else:
        pass

In [41]:
np.save('workspace/data/k_ppg_lb', lb_list)

In [42]:
np.save('workspace/data/k_ppg_signal_5', dt_signal_5)

In [43]:
np.save('workspace/data/k_ppg_signal_3', dt_signal_3)

In [44]:
np.save('workspace/data/k_ppg_signal_1', dt_signal_1)

In [45]:
np.save('workspace/data/k_ppg_id', id)